[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable = W1203
# W1203 - logging-fstring-interpolation
# https://pylint.readthedocs.io/en/latest/user_guide/messages/warning/logging-fstring-interpolation.html
# f"{var}" because this approach to string formation looks more readable than %s